<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
</head>
<body>
    <div>
        <div>
            Comments:
        </div>
        <div>      
            <% for(let i=0; i < Tcts.length; i++) { %>
                <div><%= Tcts[i].commentTimestamp %> </div>     
                <div><%= Tcts[i].commentAuthor %> </div>  
                <div><%= Tcts[i].commentComment %> </div>               
           <% } %>
           
        </div>
        <div>
            <div>New Comment</div>
            <div id="CommentTimestamp" name="CommentTimestamp">Comment Timestamp: <%= TDate %></div>
            <div id="CommentAuthor" name="CommentAuthor">Comment Author: <%= Author %></div>
            <form action="/comments" method="POST">
                <div>
                    <label for="Comment">Comment: </label>
                    <textarea id="Comment" name="Comment"></textarea>
                    <br>
                    <button type="submit">Add Comment</button>
                </div>        
            </form>
        </div>
    </div>
    <div><a href="/">Home</a></div>
    <div><a href="/load">Tickets</a></div>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
</body>
</html>